Repository META-INT6/REPLANET_React, pull requests merged in 2023-11, with the labels that each got.

#23 init
  src/html-structure/reviews/postReview.html
Labels: enhancement

#25 review select
  package-lock.json
  package.json
  src/App.js
  src/apis/ReviewAPI.js
  src/component/common/Header.js
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewContent.js
  src/component/reviews/items/ReviewDetail.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/component/reviews/lists/ReviewList.js
  src/mock/review.json
  src/modules/ReviewModule.js
  src/modules/index.js
  src/pages/reviews/ReviewDetails.js
  src/pages/reviews/ReviewList.js
  src/pages/reviews/Reviews.js
Labels: enhancement

#27 [Feature]포인트 전환 신청 0.2.1
  src/pages/points/ExchangePoint.js
Labels: enhancement

#32 리뷰 등록 구현
  src/App.js
  src/apis/ReviewAPI.js
  src/assets/css/draft.css
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/component/reviews/items/TextEditor.js
  src/draft-convert.d.ts
  src/modules/ReviewModule.js
  src/pages/reviews/ReviewDetails.js
  src/pages/reviews/ReviewRegist.js
  src/pages/reviews/Reviews.js
Labels: enhancement

#31 [Feature] 캠페인 리스트 0.1.3
  src/apis/CampaignListAPI.js
  src/component/campaigns/items/Campaign.js
  src/component/campaigns/items/CampaignContent.js
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignPicture.js
  src/component/campaigns/items/CampaignPlan.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/items/CountBox.js
  src/component/campaigns/lists/CampaignList.js
  src/component/common/DraftEditor.js
  src/modules/CampaignModule.js
  src/pages/campaigns/CampaignRegist.js
Labels: campaign

#29 [Feature] 통계 0.1.2
  src/assets/css/chart.css
  src/component/charts/CurrentYearCampaign.js
  src/component/charts/PreviousYearCampaign.js
  src/component/charts/TestChart.js
  src/component/common/Sidebar.js
  src/pages/charts/Charts.js
Labels: chart

#26 [Feature] 결제 0.1.3
  src/apis/DonationAPI.js
  src/component/pays/PayForm.js
  src/modules/DonationModule.js
  src/pages/pays/Success.js
Labels: pay

#33 [Feature] 캠페인 리스트 0.1.4
  package-lock.json
  package.json
  src/apis/CampaignListAPI.js
  src/component/campaigns/items/Campaign.js
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignPlan.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/common/DraftEditor.js
  src/pages/campaigns/CampaignRegist.js
Labels: campaign

#35 [FEATURE/REFACTOR] 리뷰 코드 변경 & sort 기능 추가
  package-lock.json
  src/App.js
  src/apis/ReviewAPI.js
  src/assets/css/draft.css
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewContent.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/component/reviews/items/TextEditor.js
  src/component/reviews/lists/ReviewList.js
  src/modules/ReviewModule.js
  src/pages/reviews/ReviewRegist.js
  src/pages/reviews/Reviews.js
Labels: enhancement, review

#36 [Feature]포인트 전환 신청 0.2.2, 전환 신청 목록 조회 0.1.1
  src/apis/PointAPI.js
  src/assets/css/userexchange.css
  src/component/common/MypageHeader.js
  src/component/common/MypageSidebar.js
  src/component/points/items/PointModal.js
  src/component/points/lists/PointExchangeList.js
  src/modules/PointModule.js
  src/pages/points/ExchangePoint.js
  src/pages/points/MyExchanges.js
Labels: point

#37 [Feature] 결제 0.1.4
  package-lock.json
  src/App.js
  src/apis/DonationAPI.js
  src/component/pays/PayForm.js
  src/modules/DonationModule.js
  src/pages/pays/Success.js
Labels: pay

#42 리뷰 이미지 거의 완료 0.1.3
  src/apis/ReviewAPI.js
  src/component/common/DraftEditor.js
  src/component/reviews/items/ReviewContent.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/component/reviews/items/TextEditor.js
  src/component/reviews/lists/ReviewList.js
  src/modules/ReviewModule.js
  src/pages/reviews/ReviewDetails.js
  src/pages/reviews/ReviewRegist.js
  src/pages/reviews/Reviews.js
Labels: enhancement, review

#38 [Feature] 결제 0.1.5
  package-lock.json
  src/apis/DonationAPI.js
  src/assets/css/pay.css
  src/component/pays/DonationDetailHeader.js
  src/component/pays/PayForm.js
  src/component/pays/items/DonationItem.js
  src/component/pays/lists/DonationList.js
  src/modules/DonationModule.js
  src/modules/index.js
  src/pages/pays/Success.js
  src/pages/pays/Test.js
Labels: pay

#40 [Feature] 캠페인리스트 0.2.1
  package-lock.json
  package.json
  src/apis/CampaignListAPI.js
  src/assets/css/editor.css
  src/component/campaigns/items/Campaign.js
  src/component/campaigns/items/CampaignPlan.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/lists/ParticipationDetails.js
  src/component/common/DraftEditor.js
  src/pages/campaigns/CampaignComplete.js
  src/pages/campaigns/CampaignDetails.js
  src/pages/campaigns/CampaignRegist.js
Labels: campaign

#41 [Feature] 통계 0.1.3
  src/component/charts/CurrentYearCampaign.js
  src/component/charts/GoalCampaign.js
  src/pages/charts/Charts.js
Labels: chart

#50 [Feature]전환 신청 승인/반려 0.1.1
  package-lock.json
  src/component/points/items/ExchangeInfo.js
Labels: point

#55 [Feature] 캠페인리스트 0.2.3
  src/apis/CampaignListAPI.js
  src/pages/campaigns/CampaignRegist.js
Labels: campaign

#54 [Feature] 결제 0.1.7
  src/App.js
  src/apis/DonationAPI.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/pays/PayForm.js
  src/modules/DonationModule.js
  src/pages/campaigns/CampaignDetails.js
  src/pages/pays/Cancel.js
  src/pages/pays/Fail.js
  src/pages/pays/Success.js
Labels: pay

#53 [FEATURE] 리뷰 신규 등록
  package-lock.json
  package.json
  public/reviewImgs/1749549f0d034272abf31f9b7f6198df.PNG
  public/reviewImgs/444657a7aabd462e824a49136d3cb7af.PNG
  public/reviewImgs/6c80579aadc24b29b9c3a397d21f4484.PNG
  public/reviewImgs/906f1f56ab0f41c087a5d6ef223e49c6.PNG
  src/App.js
  src/apis/ReviewAPI.js
  src/assets/css/comment.css
  src/assets/scripts/externalScript.js
  src/component/campaigns/items/ReviewComment.js
  src/component/reviews/items/Comments.js
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/component/reviews/items/TextEditor.js
  src/component/reviews/lists/ReviewList.js
  src/modules/ReviewModule.js
  src/pages/reviews/ReviewDetails.js
  src/pages/reviews/ReviewModify.js
  src/pages/reviews/ReviewRegist.js
  src/pages/reviews/Reviews.js
  src/pages/reviews/lala.html
Labels: review

#58 [Feature] 전환 신청 목록 조회 0.2.1
  package-lock.json
  src/App.js
  src/apis/PointAPI.js
  src/component/points/lists/PointExchangeList.js
  src/modules/index.js
Labels: point

#57 [FEATURE] 리뷰 수정 & 삭제 0.3.1
  public/reviewImgs/0dea8115e29449f1aeb357847fb7e6a3.PNG
  public/reviewImgs/1749549f0d034272abf31f9b7f6198df.PNG
  public/reviewImgs/444657a7aabd462e824a49136d3cb7af.PNG
  public/reviewImgs/6c80579aadc24b29b9c3a397d21f4484.PNG
  public/reviewImgs/906f1f56ab0f41c087a5d6ef223e49c6.PNG
  src/apis/ReviewAPI.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/modules/ReviewModule.js
  src/pages/campaigns/CampaignRegist.js
  src/pages/reviews/ReviewModify.js
  src/pages/reviews/ReviewRegist.js
Labels: review

#64 [Feature] 결제 0.1.9
  src/App.js
  src/apis/DonationAPI.js
  src/component/mypage/DonationDetail.js
  src/component/mypage/items/DonationItem.js
  src/component/mypage/lists/BookmarkList.js
  src/component/mypage/lists/DonationList.js
  src/component/pays/PayForm.js
  src/modules/DonationModule.js
  src/pages/users/Mypage.js
Labels: pay

#67 [Feature] 통계 조회 0.1.5
  src/assets/css/chart.css
  src/component/charts/GoalCampaign.js
  src/component/charts/PreviousYearCampaign.js
  src/component/charts/TestChart.js
  src/pages/charts/Charts.js
Labels: chart

#66 [Feature] 캠페인리스트 0.2.4
  src/App.js
  src/apis/CampaignListAPI.js
  src/component/campaigns/items/CampaignContent.js
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/lists/CampaignList.js
  src/component/common/DraftEditor.js
  src/modules/CampaignModule.js
  src/pages/campaigns/CampaignRegist.js
  src/pages/campaigns/Main.js
Labels: campaign

#69 [FEATURE] 리뷰 사진 경로 업로드 mac/windows 통일
  public/reviewImgs/b3ee82f53b5d4f5fa4e84fc8272243fe.PNG
  src/App.js
  src/apis/ReviewAPI.js
  src/assets/css/comment.css
  src/assets/css/common.css
  src/component/campaigns/items/ReviewComment.js
  src/component/reviews/items/ReviewContent.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/component/reviews/items/TextEditor.js
  src/draft-convert.d.ts
  src/pages/reviews/ReviewDetails.js
  src/pages/reviews/ReviewRegist.js
Labels: review

#65 [Feature] 전환 신청 목록 조회 0.2.2, 전환 신청 단건 상세 조회 0.1.3
  src/App.js
  src/apis/PointAPI.js
  src/assets/css/adminexchange.css
  src/component/points/items/ExchangeFile.js
  src/component/points/items/ExchangeInfo.js
  src/component/points/lists/PointExchangeList.js
  src/modules/PointModule.js
  src/pages/points/AllExchanges.js
  src/pages/points/ExchangeDetail.js
  src/pages/points/ExchangePoint.js
Labels: point

#72 [Feature] 캠페인리스트 0.2.5
  src/App.js
  src/apis/CampaignListAPI.js
  src/component/campaigns/items/CampaignContent.js
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignSidebar.js
  src/pages/campaigns/CampaignDetails.js
  src/pages/campaigns/CampaignModify.js
  src/pages/campaigns/CampaignRegist.js
Labels: campaign

#71 리뷰 수정
  package-lock.json
  package.json
  public/reviewImgs/2ec2a430fcf944279847999fe9a927b3.png
  public/reviewImgs/5309668fc9c349b39404aeee31edba55.png
  public/reviewImgs/65dd0cf078614a81af188af98fcd2525.png
  public/reviewImgs/67c1f17d5190465aac44d0506a54c29c.png
  public/reviewImgs/683027ede55f45519625fc7392e6d537.png
  public/reviewImgs/7253381018544111b391cb07df9b4bb7.png
  public/reviewImgs/9e87c2d294174d9db8a58d12e7654041.png
  public/reviewImgs/b4cab52bac8044059196c9d7db82da3c.png
  public/reviewImgs/db6598c1dfb54bb0b9536b1089e8246b.PNG
  public/reviewImgs/ecb9c56ec130499c88edd8c3f09a4870.png
  public/reviewImgs/f0ca46486daa4ae0b8d595174fe77ac9.png
  public/reviewImgs/fb8d6fb1160a4934922d8aa23e791341.png
  src/apis/ReviewAPI.js
  src/assets/css/common.css
  src/assets/css/draft.css
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/TextEditor.js
  src/component/reviews/lists/ReviewList.js
  src/draft-convert.d.ts
  src/modules/ReviewModule.js
  src/pages/reviews/ReviewDetails.js
  src/pages/reviews/ReviewRegist.js
  src/pages/reviews/Reviews.js
Labels: review

#74 [Feature] 포인트 전환 신청 0.2.3, 전환 신청 목록 조회 0.3.1, 전환 신청 단건 상세 조회 0.2.1
  public/exchangeFiles/1a0447ebaca744b6ac749c297304824a.pdf
  public/exchangeFiles/37572ca9f8dc4a03918c75879f91644f.pdf
  public/exchangeFiles/43511010af6147ed8bd4e4262b529c72.pdf
  public/exchangeFiles/7e3dcc7885a24195bfd50b6b07c78c5f.pdf
  public/exchangeFiles/94f5733549094421bcb3df601f389227.pdf
  public/exchangeFiles/a486dedbf5614c67b191108f60ce580c.pdf
  public/exchangeFiles/a849b25d44494923bd8097f2575c489b.pdf
  public/exchangeFiles/ccd3fbf14b3f4530bb3c9b5f49f1421d.pdf
  public/exchangeFiles/f7ffef331e634b03b407eb1d1077fc69.pdf
  src/App.js
  src/apis/PointAPI.js
  src/assets/css/userexchange.css
  src/component/points/items/ExchangeFile.js
  src/component/points/items/ExchangeInfo.js
  src/component/points/items/PointModal.js
  src/component/points/lists/PointExchangeList.js
  src/modules/PointModule.js
  src/pages/points/ExchangePoint.js
  src/pages/points/MyExchanges.js
Labels: point

#70 [Feature] 결제 0.2.0
  src/App.js
  src/apis/DonationAPI.js
  src/apis/MemberAPI.js
  src/component/mypage/lists/DonationList.js
  src/component/pays/PayForm.js
  src/modules/DonationModule.js
  src/modules/MemberModule.js
  src/modules/index.js
  src/pages/users/MyPage.js
Labels: pay

#75 [FEATURE] 리뷰 댓글 등록
  public/reviewImgs/3dee1530fc6f4393a7467154e6f6f009.png
  src/apis/ReviewAPI.js
  src/component/campaigns/items/ReviewComment.js
  src/component/reviews/items/ReviewComment.js
  src/component/reviews/items/ReviewContent.js
  src/modules/ReviewModule.js
  src/pages/reviews/ReviewDetails.js
  src/pages/reviews/Reviews.js
Labels: review, comments

#76 [Feature] 세액공제 계산기 0.1.0
  package-lock.json
  src/App.js
  src/assets/css/pay.css
  src/component/mypage/Calculator.js
  src/component/mypage/items/DonationItem.js
  src/component/mypage/lists/DonationList.js
  src/component/pays/PayForm.js
  src/pages/pays/Success.js
  src/pages/users/MyPage.js
Labels: calculator

#77 [Feature] 전환 신청 단건 상세 조회 0.2.2, 전환 신청 승인/반려 0.1.2
  public/exchangeFiles/378ecd7d8bd7426d8fd808eecba2221e.jpg
  src/App.js
  src/apis/PointAPI.js
  src/assets/css/adminexchange.css
  src/assets/css/mypage.css
  src/assets/css/userexchange.css
  src/component/common/MypageHeader.js
  src/component/common/MypageSidebar.js
  src/component/points/items/ExchangeFile.js
  src/component/points/items/ExchangeInfo.js
  src/component/points/items/PointModal.js
  src/component/points/lists/MyPointList.js
  src/component/points/lists/PointExchangeList.js
  src/modules/PointModule.js
  src/pages/points/ExchangeDetail.js
  src/pages/points/ExchangePoint.js
  src/pages/points/MyExchanges.js
  src/pages/points/MyPoints.js
  src/pages/users/MyPage.js
Labels: point

#81 [Feature] 통계 조회 0.1.6
  package-lock.json
  package.json
  src/component/charts/CategoryCampaign.js
  src/component/charts/CurrentYearCampaign.js
  src/component/charts/GoalCampaign.js
  src/component/charts/HistoryChart.js
  src/component/charts/PreviousYearCampaign.js
  src/component/charts/TestChart.js
  src/component/charts/TestChartSets.js
  src/pages/charts/Charts.js
Labels: chart

#82 [FEATURE] 댓글 조회 0.5.0
  public/campaigns/7e28084c924a4998927014198121f609.png
  public/reviewImgs/9b93ae62b56a4aa3bf439acf9adcbe5b.PNG
  src/App.js
  src/apis/ReviewAPI.js
  src/assets/css/comment.css
  src/assets/css/common.css
  src/assets/images/review/comment.png
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewComment.js
  src/component/reviews/items/ReviewContent.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/lists/ReviewList.js
  src/modules/ReviewModule.js
  src/pages/reviews/ReviewDetails.js
Labels: comments

#84 [Feature] 통계 조회 0.1.7
  src/assets/css/chart.css
  src/component/charts/CategoryCampaign.js
  src/component/charts/CurrentYearCampaign.js
  src/component/charts/GoalCampaign.js
  src/component/charts/HistoryChart.js
  src/component/charts/PreviousYearCampaign.js
  src/component/charts/TestChart.js
  src/component/charts/TestChartSets.js
  src/pages/charts/Charts.js
Labels: chart

#85 [FEATURE] 댓글 수정 기능 추가 중 0.6.0
  public/reviewImgs/5beef131fb174435a69b065e3251e982.png
  public/reviewImgs/c4d82db19fbb40c3beb335758ecc83d7.png
  src/App.js
  src/apis/ReviewAPI.js
  src/assets/css/comment.css
  src/assets/css/common.css
  src/assets/css/draft.css
  src/assets/css/select.css
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewComment.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/component/reviews/items/TextEditor.js
  src/modules/ReviewModule.js
  src/pages/reviews/ReviewDetails.js
  src/pages/reviews/ReviewModify.js
  src/pages/reviews/ReviewRegist.js
  src/pages/reviews/Reviews.js
  src/utils/TokenUtils.js
Labels: comments

#86 [Feature] [Bugfix] 전환 신청 승인/반려 0.2.1, 포인트 전환 신청 0.3.1, 전환 신청 단건 상세 조회 0.2.3, 포인트 내역 조회 0.1.1
  public/exchangeFiles/102eabdb9a744d3a9372836088db411a.jpg
  public/exchangeFiles/5806394d12f54ae392dece8f0d2d7677.jpg
  public/exchangeFiles/6663b8d4346f41f18ec5dc6c3c99df2a.jpg
  public/exchangeFiles/69600b508ea748dfae83cafdac989601.jpg
  public/exchangeFiles/69786940dd2d4db4b04ae88b6e48b107.jpg
  public/exchangeFiles/6d3f8276380442ffb6426ae068733445.jpg
  public/exchangeFiles/7a28c6df0de7441f921102f577fd3582.jpg
  public/exchangeFiles/7a3e04dc03e24eb2909806f69f72e853.jpg
  public/exchangeFiles/7b08825d813b457bb24b546dbac54b4c.jpg
  public/exchangeFiles/83053035167d4d6b9192199a3c84ff06.jpg
  public/exchangeFiles/8ebc376bdf82454c910c8430b0900864.jpg
  public/exchangeFiles/a7b76d0b393d447b84c9f2ae81e61196.jpg
  src/apis/PointAPI.js
  src/assets/css/adminexchange.css
  src/component/points/items/ExchangeInfo.js
  src/component/points/items/PointModal.js
  src/component/points/lists/MyPointList.js
  src/component/points/lists/PointExchangeList.js
  src/modules/PointModule.js
  src/pages/points/ExchangeDetail.js
  src/pages/points/ExchangePoint.js
  src/pages/points/MyPoints.js
  src/pages/users/MyPage.js
Labels: point

#87 [Feature] 캠페인 조회 0.3.1
  public/campaigns/0ab4586dcbfe403a9850596b7e50a7a8.jfif
  public/campaigns/60b6d14b57c049b79ac9380debe47973.jfif
  public/campaigns/f9897a2b0ab3485ab33a5cb279b31795.jfif
  src/apis/CampaignListAPI.js
  src/apis/DonationAPI.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/items/CountBox.js
  src/component/campaigns/items/Participation.js
  src/component/campaigns/lists/CampaignList.js
  src/component/campaigns/lists/ParticipationDetails.js
  src/modules/DonationModule.js
  src/pages/campaigns/CampaignDetails.js
  src/pages/campaigns/CampaignModify.js
Labels: campaign

#88 [Fix] 결제 0.2.0
  src/component/mypage/lists/DonationList.js
Labels: pay

#90 [FEATURE] 댓글 수정 0.5.0
  package-lock.json
  public/reviewImgs/04ffd25bed1e45d78c9e20919139e938.jpeg
  public/reviewImgs/0b5ae44539d64ef38171e4c04cec4a3a.PNG
  public/reviewImgs/2ec2a430fcf944279847999fe9a927b3.png
  public/reviewImgs/3dee1530fc6f4393a7467154e6f6f009.png
  public/reviewImgs/522b6d619ca84b2685f9eac4f4c47460.jfif
  public/reviewImgs/58366e19bd0d431590871ce206dbb140.png
  public/reviewImgs/5beef131fb174435a69b065e3251e982.png
  public/reviewImgs/65dd0cf078614a81af188af98fcd2525.png
  public/reviewImgs/67c1f17d5190465aac44d0506a54c29c.png
  public/reviewImgs/683027ede55f45519625fc7392e6d537.png
  public/reviewImgs/7253381018544111b391cb07df9b4bb7.png
  public/reviewImgs/9da0c84ccdd64a4194d858dcae9bb66b.png
  public/reviewImgs/9e87c2d294174d9db8a58d12e7654041.png
  public/reviewImgs/a51e8c9b9fe042f4997183f71cdaa5db.jpeg
  public/reviewImgs/b4cab52bac8044059196c9d7db82da3c.png
  public/reviewImgs/c4d82db19fbb40c3beb335758ecc83d7.png
  public/reviewImgs/db6598c1dfb54bb0b9536b1089e8246b.PNG
  public/reviewImgs/ecb9c56ec130499c88edd8c3f09a4870.png
  public/reviewImgs/f0ca46486daa4ae0b8d595174fe77ac9.png
  public/reviewImgs/fb8d6fb1160a4934922d8aa23e791341.png
  src/apis/ReviewAPI.js
  src/assets/css/comment.css
  src/assets/css/common.css
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewComment.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/modules/ReviewModule.js
  src/pages/reviews/ReviewDetails.js
  src/pages/reviews/ReviewModify.js
  src/pages/reviews/ReviewRegist.js
  src/pages/reviews/Reviews.js
Labels: comments

#92 [Feature] [BugFix] 전환 신청 목록 조회 0.3.2, 포인트 내역 조회 0.1.3, 전환 신청 목록 조건 조회 0.1.1, 전환 신청 단건 상세 조회 0.2.4
  src/apis/PointAPI.js
  src/assets/css/common.css
  src/component/points/items/PointModal.js
  src/component/points/lists/MyPointList.js
  src/component/points/lists/PointExchangeList.js
  src/modules/PointModule.js
  src/modules/index.js
Labels: point

#93 [Feature] 캠페인 조회 0.3.2
  src/apis/CampaignListAPI.js
  src/component/campaigns/items/Categories.js
  src/component/campaigns/items/CountBox.js
  src/component/campaigns/items/Participation.js
  src/component/campaigns/items/Tab.js
  src/component/campaigns/items/TodayChart.js
  src/component/campaigns/lists/CampaignList.js
  src/component/campaigns/lists/ParticipationDetails.js
  src/modules/CampaignModule.js
  src/pages/campaigns/CampaignDetails.js
  src/pages/campaigns/CampaignModify.js
Labels: campaign

#95 [Fix] DonationList donationPoint 유효성 체크
  src/apis/DonationAPI.js
  src/component/mypage/lists/DonationList.js
Labels: pay

#103 [Fix] [Feature] 헤더 수정, 포인트 내역 조회 0.1.4, 전환 신청 목록 조회 0.3.3, 기부금영수증 0.1.1
  src/App.js
  src/assets/css/adminexchange.css
  src/assets/css/userexchange.css
  src/component/common/Header.js
  src/component/points/lists/MyPointList.js
  src/component/points/lists/PointExchangeList.js
  src/pages/users/MyPage.js
  src/pages/users/Receipt.js
Labels: enhancement, point

#106 [Feature] 통계 조회 0.2.1
  src/apis/ChartAPI.js
  src/apis/CommonAPI.js
  src/component/charts/CategoryCampaign.js
  src/component/charts/CurrentYearCampaign.js
  src/component/charts/GoalCampaign.js
  src/component/charts/HistoryChart.js
  src/component/charts/PreviousYearCampaign.js
  src/component/charts/RegistCampaign.js
  src/component/charts/RoundProgressChart.js
  src/component/charts/TestChart.js
  src/modules/ChartModule.js
  src/modules/index.js
  src/pages/charts/Charts.js
Labels: chart

#102 [FEATURE] 리뷰 없는 캠페인 조회 리소스 변경
  public/reviewImgs/25856b8165a540ba8a9aeedb355f2a5c.jpg
  public/reviewImgs/9fc6fe94f88849f3aef437d68e5b1414.jpg
  public/reviewImgs/ac948bcb324446cfa81b555237a0a449.jpeg
  public/reviewImgs/d3372a2585c14358baaf9cdb08ee1aee.jpeg
  public/reviewImgs/d7b8bc780dd341ab8e298dfc1770fd3b.png
  src/apis/ReviewAPI.js
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewComment.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/component/reviews/items/TextEditor.js
  src/component/reviews/lists/ReviewList.js
  src/modules/ReviewModule.js
  src/pages/reviews/ReviewModify.js
  src/pages/reviews/ReviewRegist.js
  src/pages/reviews/Reviews.js
Labels: review

#108 [Refactoring] 통계 조회 0.2.2
  package-lock.json
  package.json
  src/apis/ChartAPI.js
  src/component/charts/CategoryCampaign.js
  src/component/charts/CurrentYearCampaign.js
  src/component/charts/GoalCampaign.js
  src/component/charts/HistoryChart.js
  src/component/charts/PreviousYearCampaign.js
  src/component/charts/TestChart.js
  src/modules/ChartModule.js
  src/pages/charts/Charts.js
Labels: chart

#109 [Feature] 북마크 추가 & 삭제 0.4.2
  package-lock.json
  src/apis/BookmarkAPI.js
  src/apis/CampaignListAPI.js
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/lists/ParticipationDetails.js
  src/component/mypage/lists/BookmarkList.js
  src/modules/BookmarkModule.js
  src/modules/index.js
Labels: bookmark

#112 [FEATURE] 텍스트 에디터 사진 업로드 개선 중
  package-lock.json
  package.json
  public/reviewImgs/0b5ae44539d64ef38171e4c04cec4a3a.PNG
  public/reviewImgs/20231120_4f6pu9.jpg
  public/reviewImgs/47312_29087_37.jpg
  public/reviewImgs/58366e19bd0d431590871ce206dbb140.png
  public/reviewImgs/Screenshot 2023-11-14 at 7.13.45 PM.png
  public/reviewImgs/a51e8c9b9fe042f4997183f71cdaa5db.jpeg
  public/reviewImgs/ac948bcb324446cfa81b555237a0a449.jpeg
  public/reviewImgs/b481e89ae1dc4d5fae1b15729ff7bd18.jpeg
  public/reviewImgs/d3372a2585c14358baaf9cdb08ee1aee.jpeg
  public/reviewImgs/d7b8bc780dd341ab8e298dfc1770fd3b.png
  public/reviewImgs/mceclip0.png
  public/reviewImgs/mceclip1.png
  public/reviewImgs/mceclip2.png
  src/component/reviews/items/Review.js
  src/component/reviews/items/TextEditor.js
  src/pages/reviews/ReviewRegist.js
Labels: review

#114 [Feature] 북마크 리스트 조회 0.4.3
  src/apis/BookmarkAPI.js
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignPlan.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/items/Participation.js
  src/component/mypage/items/Bookmark.js
  src/component/mypage/lists/BookmarkList.js
Labels: bookmark

#115 [Feature] 챗봇 0.1.1
  package-lock.json
  package.json
  src/assets/css/chatbot.css
  src/pages/chatbot/ChatbotIcon.js
  src/pages/chatbot/Chatbots.js
  src/pages/chatbot/TestChatbot.js
Labels: chatbot

#113 [Fix] 결제 0.2.1
  package-lock.json
  src/apis/DonationAPI.js
  src/apis/MemberAPI.js
  src/assets/css/sweetalert2.css
  src/component/mypage/lists/DonationList.js
  src/component/pays/PayForm.js
  src/pages/pays/Cancel.js
  src/pages/pays/Fail.js
Labels: pay

#117 [Fix] 포인트 내역 조회 0.2.1, 전환 신청 목록 조건 조회 0.1.2
  package-lock.json
  package.json
  public/exchangeFiles/52e7a9e8cb2b4f5bae246b69461575e1.jpg
  src/apis/PointAPI.js
  src/component/points/items/ExchangeInfo.js
  src/component/points/lists/MyPointList.js
  src/component/points/lists/PointExchangeList.js
  src/pages/points/ExchangeDetail.js
  src/pages/points/ExchangePoint.js
  src/pages/users/Receipt.js
Labels: point

#119 중간점검 1차
  package-lock.json
  src/apis/PointAPI.js
  src/assets/css/userexchange.css
  src/component/points/items/ExchangeInfo.js
  src/component/points/items/PointModal.js
  src/component/points/lists/MyPointList.js
  src/component/points/lists/PointExchangeList.js
  src/pages/points/ExchangePoint.js
  src/pages/users/Receipt.js
Labels: point

#121 중간점검 1차
  src/apis/BookmarkAPI.js
  src/apis/CampaignListAPI.js
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/items/CountBox.js
  src/component/campaigns/lists/CampaignList.js
  src/component/campaigns/lists/ParticipationDetails.js
  src/component/mypage/items/Bookmark.js
  src/component/mypage/lists/BookmarkList.js
  src/modules/BookmarkModule.js
Labels: campaign, bookmark

#124 [Feature] 북마크 & 공유하기 카카오 연동 0.5.1
  src/apis/BookmarkAPI.js
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/items/CountBox.js
  src/component/campaigns/lists/ParticipationDetails.js
  src/component/mypage/items/HeartButton.js
  src/component/mypage/lists/BookmarkList.js
Labels: bookmark

#127 [FEATURE] 텍스트 에디터 사진 추가 기능
  public/reviewImgs/01d40809-1049-4e45-b85e-5eba092a2147.png
  public/reviewImgs/12840ea9-8486-4fc0-b82c-c332c57508c0.png
  public/reviewImgs/2322c503-1eda-46d2-a254-c446f4143b7c.jpg
  public/reviewImgs/47312_29087_37.jpg
  public/reviewImgs/47b7c385-229a-4a4e-b917-93b38d0b2a23.jpg
  public/reviewImgs/5bde32f20aaf43e1896478199357182d.jpeg
  public/reviewImgs/80f7d0f4-0e1e-4fcd-bcea-c3ec746b5d45.jpg
  public/reviewImgs/872bfc4c4fba4ec38ec9c8e5b031c541.png
  public/reviewImgs/b481e89ae1dc4d5fae1b15729ff7bd18.jpeg
  public/reviewImgs/bddb603aa4d64199a043e6e739c99ff8.jpg
  public/reviewImgs/c5c9c9bd-af35-4740-a5c3-1cf21f98bcf4.png
  public/reviewImgs/d9ea2cb6-2175-4434-986b-5089b072458a.png
  public/reviewImgs/e0f886dd-d9d5-4851-bd8f-ba8d54dad423.jpg
  public/reviewImgs/e778dcf5-f42b-4dec-8b35-f05679598af0.jpg
  public/reviewImgs/ecf9b0c6-e849-473a-a260-88b7987b12aa.jpg
  public/reviewImgs/fb78de2a-bf22-4497-bb5c-81f42b17a5e1.png
  src/assets/css/common.css
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/component/reviews/items/TextEditor.js
Labels: review

#131 [Feature] 북마크 & 캠페인 리스트 페이징 0.5.2
  package-lock.json
  package.json
  public/campaigns/1298711670514cc2944b9651a302e7fa.jfif
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/lists/CampaignList.js
  src/component/mypage/lists/BookmarkList.js
Labels: campaign, bookmark

#135 [Fix] 캠페인 등록 & 수정 알림 수정
  package-lock.json
  public/campaigns/256b8bc2660546beae94ab1dc04193ed.jfif
  public/campaigns/754fa589a39d463783cd8041cec1e75a.jfif
  public/campaigns/800fbeecfc7c4e72af0b4dfa3ce0443c.jfif
  public/campaigns/c4a8300b0875403191903dd9ae0e6a6d.jpg
  public/campaigns/d7ec58d6cf714fe8971dcfcf8f9259fb.jfif
  public/campaigns/e32cc90cce7544c594989890409723f2.jfif
  src/apis/CampaignListAPI.js
  src/component/campaigns/items/CampaignSidebar.js
  src/pages/campaigns/CampaignModify.js
  src/pages/campaigns/CampaignRegist.js
Labels: bookmark

#141 [Fix] 캠페인 조회 & 페이징 버튼 수정
  package-lock.json
  public/campaigns/0cfc0f2d15aa43faa5fb94acccd4cebf.jfif
  public/campaigns/175f71d28ae7494ca8455cc2181aa723.jfif
  public/campaigns/5647705c305f41e895cd711e9ed72588.jfif
  public/campaigns/9766cbfe6d294aee82845ad2903957da.jfif
  public/campaigns/9f625ba1603648e79424ed553f86889d.jfif
  public/campaigns/dea0630c4c544cb98b7f4058b49e98ef.jfif
  src/apis/BookmarkAPI.js
  src/apis/CampaignListAPI.js
  src/component/campaigns/items/CampaignItem.js
  src/component/campaigns/items/CampaignSidebar.js
  src/component/campaigns/items/GotoTopButton.js
  src/component/campaigns/items/Tab.js
  src/component/campaigns/lists/CampaignList.js
  src/component/mypage/items/Bookmark.js
  src/component/mypage/lists/BookmarkList.js
  src/pages/campaigns/CampaignModify.js
  src/pages/campaigns/CampaignRegist.js
Labels: campaign

#142 [Feature] 기부금 영수증 0.2.2
  src/apis/PointAPI.js
  src/modules/PointModule.js
  src/pages/users/Receipt.js
Labels: privacy

#140 [FEATURE] 텍스트 에디어 수정
  package-lock.json
  package.json
  public/reviewImgs/1d9dab862d374d19a4c19e64e330c1a8.jpeg
  public/reviewImgs/221af62b73974c5ea53b40d16c21fe29.jpg
  public/reviewImgs/2322c503-1eda-46d2-a254-c446f4143b7c.jpg
  public/reviewImgs/34397eba-72e6-4fd4-b3dd-6631cdcb91f0.jpg
  public/reviewImgs/47b7c385-229a-4a4e-b917-93b38d0b2a23.jpg
  public/reviewImgs/4d855c1a-a91b-4e6b-b0ca-f81b897cd718.png
  public/reviewImgs/551750c2-2300-4fc1-a136-a03ab7738eda.jpg
  public/reviewImgs/5867d4f9-f9bd-4fdf-8d68-225a053b004f.png
  public/reviewImgs/6bef0c02-e666-416c-9380-5d3418d908ec.jpg
  public/reviewImgs/6fa4c11c-d86d-43ab-98ba-5a3d57df743b.png
  public/reviewImgs/80f7d0f4-0e1e-4fcd-bcea-c3ec746b5d45.jpg
  public/reviewImgs/83d49623-40ff-4674-aa23-2fc96e78459d.png
  public/reviewImgs/846c935cde8f48d1989b12b02dc5db73.jpg
  public/reviewImgs/8ae5d81c-6297-4f4a-9ae0-c31ea80952ce.png
  public/reviewImgs/a25b99a1-c587-43fa-9610-7e366e7ea333.jpg
  public/reviewImgs/a6f5b476-e2a2-4fcf-85b9-c7b938d65ec1.jpg
  public/reviewImgs/b411d704-d383-4102-b30e-0c52d83239eb.png
  public/reviewImgs/c0bbadd741da42caad38ef2b56cfae91.jpg
  public/reviewImgs/c0bbadd741da42caad38ef2b56cfae91.png
  public/reviewImgs/c4316a9d-db81-4ac9-aee9-99cd1ccfbfbf.jpg
  public/reviewImgs/c5c9c9bd-af35-4740-a5c3-1cf21f98bcf4.png
  public/reviewImgs/d0144513-4fd2-4074-8a84-1ebfb5f4f036.jpg
  public/reviewImgs/d39e597df0f9430d93c3dacbcb72f77c.jpg
  public/reviewImgs/d9ea2cb6-2175-4434-986b-5089b072458a.png
  public/reviewImgs/e26faa49-43fe-4366-8418-2fd96d394279.jpg
  public/reviewImgs/e778dcf5-f42b-4dec-8b35-f05679598af0.jpg
  public/reviewImgs/ec80febf-3dfd-4973-9f04-72c5d3274929.png
  public/reviewImgs/fb78de2a-bf22-4497-bb5c-81f42b17a5e1.png
  public/reviewImgs/fd27f7a9-f4ef-40b3-b99a-9d579aac6232.png
  src/component/reviews/items/ReviewComment.js
  src/component/reviews/items/ReviewDetailsIntroductionBox.js
  src/component/reviews/items/ReviewListSearchbar.js
  src/component/reviews/items/TextEditor.js
  src/pages/reviews/ReviewModify.js
  src/pages/reviews/ReviewRegist.js
  src/pages/reviews/Reviews.js
Labels: review

#145 [Feature] 서포트봇 0.1.4
  src/apis/SupportbotAPI.js
  src/component/modals/ModalSupportbot.js
  src/component/supportbots/items/ClickableBubble.js
  src/component/supportbots/items/RepeatBubble.js
  src/component/supportbots/items/ResMessageBubble.js
  src/component/supportbots/items/TextBubble.js
  src/component/supportbots/items/responseitem/FifthResBubble.js
  src/component/supportbots/items/responseitem/FirstResBubble.js
  src/component/supportbots/items/responseitem/FourthResBubble.js
  src/component/supportbots/items/responseitem/SecondResBubble.js
  src/component/supportbots/items/responseitem/ThirdResBubble.js
  src/component/supportbots/items/textitem/AnyQuestion.js
  src/component/supportbots/list/BubbleList.js
  src/component/supportbots/list/ChatList.js
  src/component/supportbots/list/QuestionBubbles.js
  src/modules/SupportbotModule.js
  src/pages/chatbot/TestChatbot.js
Labels: supportbot

#146 [FEATURE] 텍스트 에디터 사진 업로드 수정
  public/reviewImgs/13d237855f3247418a863a8f9fc61fb9.png
  public/reviewImgs/2306f820-eba4-4340-ad20-6af1442a210b.png
  public/reviewImgs/231561e992dc4148bf4048825d17ccda.jpg
  public/reviewImgs/248fb83b-ff35-4cba-9050-07c74636847e.png
  public/reviewImgs/31f3e564-3f9f-4371-bfbc-03d995d1102c.jpg
  public/reviewImgs/46e34f2cc0ac414ca55fb1619d6b11bd.PNG
  public/reviewImgs/4be781d6-3b25-4ee6-988e-b421fa86e6d1.jpg
  public/reviewImgs/59e5e348-558c-4682-8756-c788fc2afb76.png
  public/reviewImgs/5eba3f10-f585-4267-8571-33a5a5adfe67.jpg
  public/reviewImgs/812eda8f591645438d4df8535f794338.jpg
  public/reviewImgs/8b9f3710-af27-4c85-a019-e05a5088bc57.jpg
  public/reviewImgs/918611ab7cc24ffeba08618ee0d51352.jpg
  public/reviewImgs/96b2922a-ece7-4c1b-ac0b-a051a9b06ab3.png
  public/reviewImgs/bd62bb42-9309-4475-9f3f-7e6efdb294ea.jpg
  public/reviewImgs/bea55713-1bd7-4af3-a95a-6a1da7c0ac5e.png
  public/reviewImgs/c4e5cfd030fb48f7b8a7c19561c52f3e.png
  public/reviewImgs/c56c4474-de2e-4760-b4bd-c21315aed661.png
  public/reviewImgs/e88cfa44134d4982a4e94953a88881bf.jpg
  public/reviewImgs/ea56765d-0ced-4bcd-9f54-ff1069592a80.png
  public/reviewImgs/ebbbdf1a63c644fd8596b3475f54e436.jpg
  public/reviewImgs/f8fb5542662e41df989f0993278adb0f.png
  src/assets/css/common.css
  src/component/reviews/items/Review.js
  src/component/reviews/items/ReviewComment.js
  src/component/reviews/items/ReviewContent.js
Labels: review
